<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <form action="" method="post">
        <label for="">First Name:</label>
        <input type="text" name="firstName" id=""><br><br>
        <label for="">Last Name:</label>
        <input type="text" name="lastName" id=""><br><br>
        <label for="">Date of Birth</label>
        <input type="date" name="dateOfBirth" id=""><br><br>
        <select name="gender" id="">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select><br><br>
        <button>Submit</button>
    </form>
</body>
</html>