<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include(`./partials/navbar.ejs`) %>
    <h2>Login</h2>
    <% if (msg) { %>
     <p><%= msg %></p>
    <% } %>
    <p>Click <a href="/register">here</a> to register new account</p>
    <form action="" method="post">
        <label for="">Username</label><br>
        <input type="text" name="username" id=""><br><br>
        <label for="">Password</label><br>
        <input type="password" name="password" id=""><br><br>
        <button>Login</button>
    </form>
</body>
</html>